<div class="review card mb-5 col-md-8 col-10" style="border: 2px solid #212529;">
    <div class="review-header card-header d-flex" style="border-bottom: 2px solid #212529;">
        <div class="critic-name d-flex col-9">
            <div class="critic-photo d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </div>
            <div class="critic-name-publisher-name mt-2 fs-5">
                <div class="critic-name-publisher-name-critic fw-bold">
                    <%= review.critic_name %>
                    <% if(review.top_critic == "True") {%>
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                        </svg>
                    <% } %>
                </div>
                <div class="critic-name-publisher-name-critic-publisher fst-italic text-muted">
                    <%= review.publisher_name %>
                </div>
            </div>
        </div>
        <div class="review-score fw-bold fs-5 col-3 container d-flex justify-content-end align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bookmark-star-fill me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
            </svg>
            <%= review.review_score_normalized %>
        </div>
    </div>
    <div class="review-content-text container fs-5 my-2">
        <%= review.review_content %>
    </div>
    <div class="review-footer container my-2">
        <div class="review-date d-flex justify-content-end">
            <%= review.review_date %>
        </div>
    </div>
</div>